body{

background:#141414;

color:white;

font-family:Poppins,sans-serif;

}

.topbar{

display:flex;

justify-content:space-between;

padding:20px 40px;

background:#0d0d0d;

}

.admin-container{

display:grid;

grid-template-columns:420px 1fr;

gap:30px;

padding:40px;

}

.upload-card{

background:#1c1c1c;

padding:30px;

border-radius:18px;

}

.list-card{

background:#1c1c1c;

padding:30px;

border-radius:18px;

}

input,
textarea,
select{

width:100%;

padding:15px;

margin-top:15px;

background:#111;

color:white;

border:none;

border-radius:10px;

}

textarea{

height:120px;

resize:none;

}

button{

margin-top:25px;

width:100%;

}

.content-item{

display:flex;

justify-content:space-between;

align-items:center;

padding:15px;

margin-top:15px;

background:#252525;

border-radius:10px;

}

.content-item img{

width:90px;

height:60px;

object-fit:cover;

border-radius:8px;

}